:root {
  --accent-color: #4d5ae5;
  --first-color: #2e2f42;
  --second-color: #434455;
}

/* RESET */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* //RESET */
body {
  font-family: "Roboto", sans-serif;
  color: var(--first-color);
}
/* LOGO */
.first-logo {
  color: var(--accent-color);

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.second-logo {
  color: var(--first-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* //LOGO */

/* HEADER */

.email-addres,
.phone-number {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
/* Hover and focus */
.phone-number:hover {
  color: var(--accent-color);
}

.phone-number:focus {
  color: var(--accent-color);
}

.email-addres:hover {
  color: var(--accent-color);
}

.email-addres:focus {
  color: var(--accent-color);
}
/* //Hover and focus */

.menu-link:hover {
  color: var(--accent-color);
}

.menu-link:focus {
  color: var(--accent-color);
}

.menu-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--first-color);

  flex: none;
  order: 1;
  flex-grow: 0;
}
/* //HEADER */

/* прихований заголовок */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* прихований заголовок */

/* HERO */

.hero {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;

  background-color: var(--first-color);
}
.hero-button {
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* features-section-1 */
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-color);
}

.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
/* SECTION 2  */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--first-color);
}

.people {
  background: #f4f4fd;
}

/* Section 3 */
.people-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--first-color);
}
.people-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
/* FOOTER */
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #e7e9fc;
}
.footer {
  background: var(--first-color);
}
.second-logo-footer {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
